# SEO Checker Ignores
#
# There are generally a handful of
# file types we never want to commit:
#
# - OS-created files (like .DS_Store on OSX)
# - Dependencies - These should be reproduced
# 	identically through an install process, not
# 	saved into the project itself.
# - Environment configuration files - Things like
# 	.nvmrc files that prescribe a certain Node
# 	version should be left to each developer to
# 	implement. Libraries should work across a 
# 	range of platform versions (within reason).
# - Log files - Logs are useful to individual
# 	developers but don't need to be part of the 
# 	project's commit history. Share logs individually.
# - Test results - Same reason we don't commit logs and
# 	test results should be duplicated exactly across
# 	environments.
# - Documentation - Generated docs should be published online
# 	and because they can change with each commit they
# 	should be generated locally as-needed with the latest
# 	information from the last release always available online.

node_modules/
dist/
test/results/
docs/
.nvmrc
.DS_Store
*.log

# Other things we don't have in our repo but
# that are common and a good idea to ignore in
# case we add them later and forget to update 
# this .gitignore file.
pids
*.pid
*.seed
.grunt
.lock-wscript
build/Release
